# Required by Supabase client
NEXT_PUBLIC_SUPABASE_URL=https://twunxmloncuxtehhxond.supabase.co
NEXT_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3dW54bWxvbmN1eHRlaGh4b25kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzMDM3NjIsImV4cCI6MjA3Mzg3OTc2Mn0.onRc-wQXb6TcEeQkDM80rJ93L9F4f7D_j46RXF-YDkQ

# Optional site URL for auth redirects (login magic link / OAuth)
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_VERCEL_URL=
